<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221707905165-7b4tmqkgamtt457jvjvq7jd92b452fds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221707905165-7b4tmqkgamtt457jvjvq7jd92b452fds</string>
	<key>API_KEY</key>
	<string>AIzaSyBVdoLb7C9Omv22AtPcmxAzAoC0jIn0fLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>221707905165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceDetectionProject</string>
	<key>PROJECT_ID</key>
	<string>testproject-cbad9</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-cbad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221707905165:ios:c6ee60d27b9c556a6d9ac4</string>
</dict>
</plist>